.git
~*
*.bak
.directory
MYMETA*
MANIFEST.SKIP
blib
_build
Build
Build.bat
Build.COM
BUILD.COM
build.com
Distribution-Tests/*
Old/*
Tests/*
*.tgz
*.tb2
*.tar
*.tar.gz
*.tar.b2
pm_to_blib
script/example_program.pl
